/*!
 * Copyright 2014 MetLife Australia.
 */
@font-face {
	font-family: 'coleshapticbdita';
	src: url('../fonts/coleshapticbdita-webfont.eot');
	src: url('../fonts/coleshapticbdita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticbdita-webfont.woff') format('woff'),  url('../fonts/coleshapticbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticbd';
	src: url('../fonts/coleshapticbd-webfont.eot');
	src: url('../fonts/coleshapticbd-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticbd-webfont.woff') format('woff'),  url('../fonts/coleshapticbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticblkita';
	src: url('../fonts/coleshapticblkita-webfont.eot');
	src: url('../fonts/coleshapticblkita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticblkita-webfont.woff') format('woff'),  url('../fonts/coleshapticblkita-webfont.ttf') format('truetype')
}
@font-face {
	font-family: 'coleshapticblk';
	src: url('../fonts/coleshapticblk-webfont.eot');
	src: url('../fonts/coleshapticblk-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticblk-webfont.woff') format('woff'),  url('../fonts/coleshapticblk-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticexbdita';
	src: url('../fonts/coleshapticexbdita-webfont.eot');
	src: url('../fonts/coleshapticexbdita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticexbdita-webfont.woff') format('woff'),  url('../fonts/coleshapticexbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticexbdita';
	src: url('../fonts/coleshapticexbdita.eot');
	src: url('../fonts/coleshapticexbdita.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticexbdita.woff') format('woff'),  url('../fonts/coleshapticexbdita.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticexbd';
	src: url('../fonts/coleshapticexbd-webfont.eot');
	src: url('../fonts/coleshapticexbd-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticexbd-webfont.woff') format('woff'),  url('../fonts/coleshapticexbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticita';
	src: url('../fonts/coleshapticita-webfont.eot');
	src: url('../fonts/coleshapticita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticita-webfont.woff') format('woff'),  url('../fonts/coleshapticita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticltita';
	src: url('../fonts/coleshapticltita-webfont.eot');
	src: url('../fonts/coleshapticltita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticltita-webfont.woff') format('woff'),  url('../fonts/coleshapticltita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticlt';
	src: url('../fonts/coleshapticlt-webfont.eot');
	src: url('../fonts/coleshapticlt-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticlt-webfont.woff') format('woff'),  url('../fonts/coleshapticlt-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticrg';
	src: url('../fonts/coleshapticrg-webfont.eot');
	src: url('../fonts/coleshapticrg-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticrg-webfont.woff') format('woff'),  url('../fonts/coleshapticrg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticsmbdita';
	src: url('../fonts/coleshapticsmbdita-webfont.eot');
	src: url('../fonts/coleshapticsmbdita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticsmbdita-webfont.woff') format('woff'),  url('../fonts/coleshapticsmbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticsmbd';
	src: url('../fonts/coleshapticsmbd-webfont.eot');
	src: url('../fonts/coleshapticsmita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticsmbd-webfont.woff') format('woff'),  url('../fonts/coleshapticsmbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticsmita';
	src: url('../fonts/coleshapticsmita-webfont.eot');
	src: url('../fonts/coleshapticsmita-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticsmita-webfont.woff') format('woff'),  url('../fonts/coleshapticsmita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'coleshapticsm';
	src: url('../fonts/coleshapticsm-webfont.eot');
	src: url('../fonts/coleshapticsm-webfont.eot?iefix') format('embedded-opentype'),  url('../fonts/coleshapticsm-webfont.woff') format('woff'),  url('../fonts/coleshapticsm-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'ColesInsuranceIcons';
	src: url('../fonts/ColesInsuranceIcons.eot');
	src: url('../fonts/ColesInsuranceIcons.eot?iefix') format('embedded-opentype'),  url('../fonts/ColesInsuranceIcons.woff') format('woff'),  url('../fonts/ColesInsuranceIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
a {
	color: #1A93E0;
}
.btn {
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 12px;
}
.btn-default {
	font-family: "coleshapticbd", Arial, Helvetica, sans-serif;
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 17px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	font-weight: normal;
	color: #333;
	background-color: #E4E4E4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#CECFCF));
	background-image: -webkit-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -moz-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -ms-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -o-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: linear-gradient(to bottom, #E4E4E4, #CECFCF);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E4E4E4, endColorstr=#CECFCF);
}
.btn-default2 {
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	font-weight: normal;
	color: #333;
	background-color: #E4E4E4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#CECFCF));
	background-image: -webkit-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -moz-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -ms-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -o-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: linear-gradient(to bottom, #E4E4E4, #CECFCF);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E4E4E4, endColorstr=#CECFCF);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default2:hover, .btn-default2:focus, .btn-default2:active, .btn-default2.active, .open .dropdown-toggle.btn-default2 {
	background-color: #EEEEEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DFDFDF));
	background-image: -webkit-linear-gradient(top, #EEEEEE, #DFDFDF);
	background-image: -moz-linear-gradient(top, #EEEEEE, #DFDFDF);
	background-image: -ms-linear-gradient(top, #EEEEEE, #DFDFDF);
	background-image: -o-linear-gradient(top, #EEEEEE, #DFDFDF);
	background-image: linear-gradient(to bottom, #EEEEEE, #DFDFDF);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EEEEEE, endColorstr=#DFDFDF);
	text-decoration: underline
}
.btn-primary {
	font-family: "coleshapticbd", Arial, Helvetica, sans-serif;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	font-size: 17px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
	font-weight: normal;
	color: #FFFFFF;
	background-color: #E9222C !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9222C), to(#D71319));
	background-image: -webkit-linear-gradient(top, #E9222C, #D71319);
	background-image: -moz-linear-gradient(top, #E9222C, #D71319);
	background-image: -ms-linear-gradient(top, #E9222C, #D71319);
	background-image: -o-linear-gradient(top, #E9222C, #D71319);
	background-image: linear-gradient(to bottom, #E9222C, #D71319);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E9222C, endColorstr=#D71319);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	background-color: #F20C17 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F20C17), to(#E7070D));
	background-image: -webkit-linear-gradient(top, #F20C17, #E7070D);
	background-image: -moz-linear-gradient(top, #F20C17, #E7070D);
	background-image: -ms-linear-gradient(top, #F20C17, #E7070D);
	background-image: -o-linear-gradient(top, #F20C17, #E7070D);
	background-image: linear-gradient(to bottom, #F20C17, #E7070D);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F20C17, endColorstr=#E7070D);
	font-weight: normal;
	text-decoration: underline
}
.btn-sec {
	border: 1px solid #c01228;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
	font-weight: normal;
	color: #FFFFFF;
	background-color: #E9222C !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9222C), to(#D71319));
	background-image: -webkit-linear-gradient(top, #E9222C, #D71319);
	background-image: -moz-linear-gradient(top, #E9222C, #D71319);
	background-image: -ms-linear-gradient(top, #E9222C, #D71319);
	background-image: -o-linear-gradient(top, #E9222C, #D71319);
	background-image: linear-gradient(to bottom, #E9222C, #D71319);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E9222C, endColorstr=#D71319);
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	color: #ffffff;
	background-color: #E01A22;
	border-color: #E01A22 !important;
}
.radiobutton.active {
	background: #4990E0;
	color: #FFFFFF;
	box-shadow: none
}
.btn.radiobutton:active {
	box-shadow: none
}
.c-mt10px {
	margin-top: 10px !important
}
.c-logo {
	margin: 15px 0
}
.c-mb10px {
	margin-bottom: 10px
}
.c-values {
	font-size: 450%;
	font-family: coleshapticrg, Arial, Helvetica, sans-serif;
	color: #E01A22;
	margin-top: -15px
}
sup {
	top: -0.4em;
}
sub, sup {
	font-size: 60%;
}
.c-val {
	margin-left: -10px;
	font-weight: bold
}
.c-round {
	background: none;
	border: 7px solid #E01A22;
	color: #555;
	font-size: 130%;
	height: 70px;
	padding: 13px 0 0;
	text-align: center;
	width: 70px;
	float: right;
	line-height: 100%
}
.c-round.sma {
	background: #FFFFFF;
	border: 7px solid #E01A22;
	color: #555;
	font-size: 90%;
	height: 55px;
	padding: 9px 0 0;
	text-align: center;
	width: 55px;
	float: left;
	font-weight: bold
}
.sma {
	border: 2px solid #fff;
	margin: -2px 0;
	border-radius: 50%
}
.c-bg1 {
	background-color: #e5e5e5 !important;
	overflow: hidden
}
.c-bg1 .linksec {
	border-bottom: 1px dashed #cdcdcd;
}
.c-bg2 {
	box-shadow: 10px -10px 50px -20px #CCCCCC inset;
	background: url(../images/bg_repeat.png) repeat top left;
	border-radius: 10px
}
.fleft {
	float: left !important
}
.fright {
	float: right !important
}
.per {
	margin: 35px 0 0 5px;
}
.c-selected {
	color: #390 !important;
	font-size: 120%;
	text-align: left
}
.mt25px {
	margin-top: 25px !important
}
.mt30px {
	margin-top: 30px !important
}
.corner {
	border-radius: 20%;
	width: 75px
}
.price {
	font-weight: bold
}
.price span {
	font-size: 50%
}
.color1 {
	color: #666
}
.mt10px {
	margin-top: 10px !important;
}
.mr10px {
	margin-right: 10px
}
.spacer {
	clear: both;
	height: 10px;
	display: block
}
.block {
	display: block
}
.mt20px {
	margin-top: 20px
}
.tel {
	color: #fff;
	font-size: 16px;
	font-family: coleshapticrg, Arial, Helvetica, sans-serif;
}
.color2 {
	color: #999
}
.colorprimary { color:#E01A22 !important}
.color4 {
	color: #390 !important;
}

.navbar-nav > li.active {
	background: url(../images/sprite.png)50% -114px no-repeat;
	color: #4c4c4c
}
.navbar-nav > li.done {
	background: url(../images/sprite.png)50% 0px no-repeat;
}
.navbar-nav > li.next {
	background: url(../images/sprite.png)50% -62px no-repeat;
	color: #999
}
.navbar-nav > li.active.first {
	background: url(../images/sprite.png) 31px -301px no-repeat;
	color: #333
}
.navbar-nav > li.done.first {
	background: url(../images/sprite.png) 31px -187px no-repeat;
}
.navbar-nav > li.next.first {
	background: url(../images/sprite.png) 50% -62px no-repeat;
}
.navbar-nav > li.active.last {
	background: url(../images/sprite.png) -1450px -301px no-repeat;
}
.navbar-nav > li.done.last {
	background: url(../images/sprite.png) -1444px -187px no-repeat;
}
.navbar-nav > li.next.last {
	background: url(../images/sprite.png) -1453px -249px no-repeat;
}
.navbar-nav > .active > span {
	color: #FFFFFF;
	font-size: 15px !important;
	font-weight: bold;
	left: 45%;
	position: absolute;
	top: 2px;
	z-index: 99;
}
.navbar-nav > .next > span {
	color: #bfbfbf;
	font-size: 15px !important;
	font-weight: bold;
	left: 44%;
	position: absolute;
	top: 1px;
	z-index: 99;
}
.navbar-nav > .next > span.one, .navbar-nav > .next > span.two, .navbar-nav > .next > span.three, .navbar-nav > .next > span.four, .navbar-nav > .next > span.five, .navbar-nav > .next > span.six, .navbar-nav > .active > span.one, .navbar-nav > .active > span.two, .navbar-nav > .active > span.three, .navbar-nav > .active > span.four, .navbar-nav > .active > span.five, .navbar-nav > .active > span.six {
	position: absolute;
	top: 0px;
	z-index: 99;
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	margin-left: -7px;
}
.navbar-nav > .next > span.one {
	background-position: -168px -390px;
}
.navbar-nav > .next > span.two {
	background-position: -200px -390px;
}
.navbar-nav > .next > span.three {
	background-position: -232px -390px;
}
.navbar-nav > .next > span.four {
	background-position: -264px -390px;
}
.navbar-nav > .next > span.five {
	background-position: -296px -390px;
}
.navbar-nav > .next > span.six {
	background-position: -328px -390px;
}
.navbar-nav > .active > span.one {
	background-position: -168px -422px;
}
.navbar-nav > .active > span.two {
	background-position: -200px -422px;
}
.navbar-nav > .active > span.three {
	background-position: -232px -422px;
}
.navbar-nav > .active > span.four {
	background-position: -264px -422px;
}
.navbar-nav > .active > span.five {
	background-position: -296px -422px;
}
.navbar-nav > .active > span.six {
	background-position: -328px -422px;
}
.navbar-nav > li > a span.one, .navbar-nav > li > a span.two, .navbar-nav > li > a span.three, .navbar-nav > li > a span.four, .navbar-nav > li > a span.five, .navbar-nav > li > a span.six {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-nav > li > a span.one {
	background-position: -168px -390px;
}
.navbar-nav > li > a span.two {
	background-position: -200px -390px;
}
.navbar-nav > li > a span.three {
	background-position: -232px -390px;
}
.navbar-nav > li > a span.four {
	background-position: -264px -390px;
}
.navbar-nav > li > a span.five {
	background-position: -296px -390px;
}
.navbar-nav > li > a span.six {
	background-position: -328px -390px;
}
.navbar-header a span.one, .navbar-header a span.two, .navbar-header a span.three, .navbar-header a span.four, .navbar-header a span.five, .navbar-header a span.six {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-header a span.one {
	background-position: -168px -422px;
}
.navbar-header a span.two {
	background-position: -200px -422px;
}
.navbar-header a span.three {
	background-position: -232px -422px;
}
.navbar-header a span.four {
	background-position: -264px -422px;
}
.navbar-header a span.five {
	background-position: -296px -422px;
}
.navbar-header a span.six {
	background-position: -328px -422px;
}
.navbar-nav a span.oned, .navbar-nav a span.twod, .navbar-nav a span.threed, .navbar-nav a span.fourd, .navbar-nav a span.fived, .navbar-nav a span.sixd {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-nav a span.oned {
	background-position: -168px -422px;
}
.navbar-nav a span.twod {
	background-position: -200px -422px;
}
.navbar-nav a span.threed {
	background-position: -232px -422px;
}
.navbar-nav a span.fourd {
	background-position: -264px -422px;
}
.navbar-nav a span.fived {
	background-position: -296px -422px;
}
.navbar-nav a span.sixd {
	background-position: -328px -422px;
}
.navbar-nav > li.active a {
	color: #4C4C4C;
	font-weight: bold
}
.panel-default > .panel-heading a {
	background: url(../images/sprite.png) -1490px -17px no-repeat;
	display: block
}
.panel-default > .panel-heading a.collapsed {
	background: url(../images/sprite.png) -1490px 3px no-repeat;
	display: block
}
label {
	font-weight: normal;
	padding-top: 5px;
}
.mt12px {
	margin-top: 12px !important
}
.mt15px {
	margin-top: 15px !important
}
.ml10px {
	margin-left: 10px !important
}
.panel-group a:focus, .panel a:focus {
	outline: none;
}
.pt0 {
	padding-top: 0 !important
}
.mt0 {
	margin-top: 0 !important
}
.pt20px {
	padding-top: 20px !important
}
.pl0 {
	padding-left: 0 !important
}
.nav > li > a {
	padding: 10px 7px
}
.navbar-nav > li > a {
	font-size: 13px;
	padding: 25px 0px 0px 0;
	margin: 0 12px;
}
.navbar-nav > li.next > a {
	color: #999
}
.c-header {
	background: #E01A22
}
.c-headline {
	color: #E01A22;
	margin-top: 30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "coleshapticbd", Arial, Helvetica, sans-serif;
}
.navcustom {
	margin-bottom: 10px !important;
	margin-top: 30px;
}
.c-navxs .navbar-inverse {
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	background: none
}
.c-navxs .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #333;
}
.navbar-inverse .navbar-toggle {
	border: none
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: transparent
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
	overflow: hidden
}
.bg-primary {
	background-color: #E01A22
}
.c-circprime {
	background-color: #E01A22;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 2px
}
.c-circsec {
	background-color: #e5e5e5;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 2px
}
.c-done {
	background: url(../images/sprite.png) no-repeat 0 -403px;
	height: 24px;
	width: 28px;
	display: block;
	float: left;
	margin-right: 3px;
}
.c-navxs .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333;
	background: #fff;
	cursor: pointer
}
.c-navxs .navbar-nav > li {
	background: url(../images/sprite.png) no-repeat 0 -649px;
	padding: 20px 0 10px 15px
}
.c-navxs .navbar-nav > li.first {
	background: none;
	padding: 10px 0 10px 15px
}
.c-navxs .navbar-nav > li.lastitem {
	padding-bottom: 0px
}
.c-navxs .navbar-nav > li > a {
	margin: 0 !important;
	padding: 0;
	font-size: 16px;
	border-bottom: none !important
}
.c-navxs .navbar-toggle {
	padding: 7px 10px
}
.panel-title {
	color: #111 !important
}
.colorsec {
	color: #1a93e0
}
.notes {
	padding: 5px 0 0 22px;
	position: relative;
	font-size: 13px;
	line-height: 120%
}
.note {
	font-size: 12px;
	line-height: 120%;
	padding: 3px 0 0 0px;
}
.footercopy {
	font-size: 12px;
	line-height: 120%
}
.icohelp {
	margin-left: -23px;
	font-size: 110%;
	height: 19px;
	width: 19px;
	background: url(../images/sprite.png) no-repeat -1427px -43px !important;
	float: left;
	display: block;
}
.icohelp-xs {
	margin: 2px 0 2px 0px;
	font-size: 110%;
	height: 19px;
	width: 19px;
	background: url(../images/sprite.png) no-repeat -1427px -43px !important;
	float: left;
	display: block;
}
.helpdiv {
	clear: both;
	overflow: hidden
}
.btn-group, .btn-group-vertical, .radiobutton {
	width: 100%
}
.col2 {
	width: 50%;
	padding-right: 2px;
	float: left
}
.col2small {
	width: 45%;
	float: left
}
.col3 {
	width: 33%;
	float: left
}
.col4 {
	width: 25%;
	float: left
}
.col5 {
	width: 20%;
	float: left
}
.withhelp .col2small .btn.radiobutton, .withhelp .col2 .btn.radiobutton, .withhelp .col3 .btn.radiobutton, .withhelp .col4 .btn.radiobutton, .withhelp .col5 .btn.radiobutton {
	width: 100%
}
.sbutton {
	margin-left: 2px
}
.lbutton {
	border-radius: 6px 0 0 6px;
}
.rbutton {
	border-radius: 0px 6px 6px 0;
	margin-left: 2px
}
.mbutton {
	border-radius: 0px;
	border-left: 2px solid #fff
}
.ipradio {
	float: left
}
.form-control {
	background-color: #E5E5E5;
	font-weight: bold;
	box-shadow: none;
	border-radius: 6px;
	padding: 6px;
	border-color: #e5e5e5;
}
.radiobutton {
	background-color: #e5e5e5;
	color: #4b4b4b;
	padding: 6px;
	font-size: 14px
}
input[type="radio"] {
	display: none;
}
.radiobutton span {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	background: url(../images/sprite.png) no-repeat -1484px -44px;
	margin: 2px 0 0 0
}
.active.radiobutton span {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	background: url(../images/sprite.png) no-repeat -1457px -44px;
	margin: 2px 0 0 0
}
.link {
	border-bottom: 1px dashed #bfbfbf;
	color: #4c4c4c
}
.link:hover {
	border-bottom: 1px solid #5e5e5e;
	color: #4c4c4c
}
.linksec {
	border-bottom: 1px dashed #1a93e0;
	color: #4c4c4c
}
.linksec:hover {
	border-bottom: 1px solid #1a93e0;
	color: #4c4c4c
}
body {
	color: #4c4c4c;
	font-family: "Arial", sans-serif
}
.p0 {
	padding: 0
}
.w100p {
	width: 100%
}
.alignleft {
	text-align: left
}
.alignright {
	text-align: right
}
.mtm3px {
	margin-top: -3px;
}
.alert-info {
	background-color: #fafafa;
	border-color: #e5e5e5;
	color: #262626;
}
.mr5px {
	margin-right: 5px
}
.footertext {
	font-size: 12px;
	color: #818181
}
.input-group-addon.btn {
	padding: 6px 12px;
	border-color: #e5e5e5
}
.nav-tabs > li.two {
	font-weight: bold;
	text-align: center;
	width: 50%;
	background: url(../images/bg_repeattab.png) repeat scroll left top rgba(0, 0, 0, 0);
	box-shadow: 10px -10px 50px -20px #CCCCCC inset;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #339900;
}
.nav-tabs > li.two.active {
	box-shadow: none
}
.nav-tabs > li > a {
	color: #4C4C4C
}
.nav-tabs li .glyphicon-ok {
	display: none
}
.nav-tabs li.active .glyphicon-ok {
	display: inline-block
}
.nav-tabs > li.two.active {
	background: none
}
.telno {
	color: #1a93e0;
	margin: 0 0 0px;
	font-size: 90%
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.tickforms {
	background: url(../images/sprite.png) no-repeat -73px -361px;
	height: 14px;
	width: 15px;
	display: block;
	float: right;
	margin-top: 8px
}
.icoAdd {
	background: url(../images/sprite.png) no-repeat -357px -363px;
	height: 14px;
	width: 15px;
	display: block;
	float: left;
	margin-top: 3px
}
.icoRemove {
	background: url(../images/sprite.png) no-repeat -382px -363px ;
	height: 14px;
	width: 15px; 
	display:inline-block;
	float: right;
	margin-top:3px
}

button .tickforms {
	background: url(../images/sprite.png) no-repeat -73px -361px;
	height: 14px;
	width: 15px;
	display: block;
	float: left;
	margin-top: 3px
}


.col-sm-1 .tickforms {
	margin-top: 0px;
}
.col-sm-1.p-sm-20 .tickforms {
	margin-top: -10px;
	margin-right: 0px;
}
.mrm25px {
	margin-right: -25px
}
.relative {
	position: relative !important
}
.tickforms.cover {
	float: none;
	position: absolute;
	left: 230px;
	top: 10%
}
label {
	width: 90%
}
.c-selected .tickforms {
	margin-top: 0
}
.saverow {
	padding: 0 15px !important;
	border-width: 2px;
	vertical-align: middle;
}
.tickforms.faded {
	background-position: -104px -361px
}
.btn-primary.disabled {
	border-color: transparent;
	color: #ecb8bc
}
.row.rowcustom {
	padding: 8px 0
}
.rowcustom {
}
.rowcustom hr {
	border-color: #ddd;
	border-width: 2px;
	margin: 20px 15px;
}
.row.rowcustom.first {
	margin-top: 5px
}
.has-error .tickforms {
	background: url(../images/sprite.png) no-repeat -131px -361px
}
.has-error .form-control {
	border: 2px solid #9E0114;
	border-radius: 6px 6px 0 0
}
.has-error .bg-danger {
	display: block !important;
	background: #9E0114;
	color: #fff;
	font-size: 11px;
	padding: 2px 0 2px 10px;
	border-radius: 0 0 6px 6px;
}
.row.rowcustom .bg-danger {
	display: none
}
.navbar-nav > .done > span {
	display: none
}
.navbar-nav > .done > a, .navbar-nav > .done > a:hover, .navbar-nav > .done > a:focus {
	border-bottom: 1px dashed #ccc;
	color: #4D4D4D
}
.has-error .radiobutton {
	border: 2px solid #9E0114
}
.has-error .radiobutton.lbutton {
	border-radius: 6px 0 0 0px;
}
.has-error .radiobutton.rbutton {
	border-radius: 0px 6px 0 0px;
	border-left: 0 none;
	margin-left: 0;
}
.has-error .radiobutton.rbutton + .bg-danger {
	margin-left: 2px
}
.ml2px {
	margin-left: 2px
}
.c-bg {
	background-color: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
}
.tickforms.visible-xs {
	bottom: 10px;
	position: absolute;
	right: 15px;
}
.checkboxes.active {
	background: #4990E0;
	color: #FFFFFF;
	box-shadow: none
}
.btn.checkboxes:active {
	box-shadow: none
}
.checkboxes {
	width: 100%
}
.checkboxes {
	background-color: #e5e5e5;
	color: #4b4b4b;
	padding: 6px;
	font-size: 14px;
	text-align: left
}
.checkboxes span {
	display: block;
	float: left;
	height: 17px;
	width: 17px;
	background: url(../images/sprite.png) no-repeat -38px -407px;
	margin: 2px 7px 0 0
}
.active.checkboxes span {
	display: block;
	float: left;
	height: 17px;
	width: 20px;
	background: url(../images/sprite.png) no-repeat -73px -407px;
	margin: 2px 4px 0 0
}
.btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 6px 6px 0 0;
}
.btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0 0 6px 6px
}
.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
	margin-bottom: 3px;
	text-align: left;
	white-space: normal !important
}
.has-error .btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 6px 6px 0 0;
	border: 2px solid #9e0114;
	border-bottom: none
}
.has-error .btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0;
	border: 2px solid #9e0114;
}
.has-error .btn-group-vertical .radiobutton, .has-error .btn-group-vertical .checkboxes {
	margin-bottom: 0px;
	text-align: left;
	white-space: normal !important;
	border: 2px solid #9e0114;
	border-bottom: none
}
.btn-group-vertical .radiobutton span {
	margin: 2px 7px 0 0
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 6px
}
.withhelp .btn.checkboxes, .withhelp .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.withhelp .p-sm-20 .btn.checkboxes {
	width: 100%;
}
.withhelp .icohelp {
	position: absolute;
	right: -30px;
	top: 5px;
}
.mb0 {
	margin-bottom: 0 !important
}
.icovisa {
	background: url(../images/sprite.png) 0px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icomastercard {
	background: url(../images/sprite.png) -38px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icocolescard {
	background: url(../images/sprite.png) 0px -498px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icobpay {
	background: url(../images/sprite.png) 0px -540px no-repeat;
	width: 52px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoencry {
	background: url(../images/sprite.png) 0px -582px no-repeat;
	width: 88px;
	height: 26px;
	display: block
}
.c-phone {
	margin: 15px 0
}
.wwrap {
	white-space: nowrap
}
.red {
	color: #ee1f29;
}
.input-group .form-control {
	position: static
}
/* scrol css starts */
.menut {
	color: #4d4d4d;
	width: 100%;
	display: none
}
.fixed {
	position: fixed !important;
	top: 0;
	min-height: 34px;
	z-index: 2;
	display: block !important
}
/* scroll css ends*/
.date-picker {
	color: #aaa;
    border-radius: 6px 0 0 6px !important;
}
.mb10px {
	margin-bottom: 10px
}
.btn-group > .btn, .btn-group-vertical > .btn {
	z-index: 0 !important
}
.bannerImg {
	margin: 20px 0 30px 0
}
.navbar-nav > li.last > a {
	margin-right: 0
}
.navbar-collapse {
	padding-right: 0
}
.glyphicon.glyphicon-chevron-down {
	font-size: 14px
}
.c-buy {
	padding: 9px 0;
	float: left;
	width: 66%
}
.sectionarea {
	border: 2px solid #e5e5e5;
	padding: 0 10px
}
/* Panel collapse*/
.panel-group .panel {
	border-radius: 0px;
	margin-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
	border: 2px solid #e5e5e5;
	border-top: none
}
.panel {
	border-radius: 0;
	border-width: 0px;
	box-shadow: none
}
.panel-default > .panel-heading {
	background-color: transparent;
	border-bottom: 2px solid #e5e5e5
}
.panel-default > .panel-heading a .panel-title {
	color: #333333;
	background: #FFFFFF;
	padding: 0 5px;
	position: absolute;
}
.panel-body {
	border: 2px solid #e5e5e5;
	border-top: none
}
.icoflybuys {
	width: 60px;
	height: 30px;
	background: url(../images/sprite.png) no-repeat -166px -350px;
}
hr.separator {
	border-width: 2px;
	margin: 10px 0 0 0
}
hr {
	border-width: 2px;
}
.icotick {
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -232px -363px;
}
.icoCont {
	vertical-align: top;
	padding: 0 10px 0 0
}
.ml10p {
	margin-left: 10%;
}
.ml30p {
	margin-left: 30%;
}
.mtm15px {
	margin-top: -15px
}
.bigtxt {
	padding: 10px 0;
	font-size: 112%;
	line-height: 120%
}
.footercopy li {
	padding: 2px 0
}
.w95p {
	width: 95% !important
}
ul.list {
	padding-left: 12px
}
ul.list li {
	margin: 0;
	padding: 2px 0;
}
.btn.checkboxes a {
	color: #4B4B4B
}
.btn.checkboxes.active a {
	color: #fff
}
.btn.checkboxes a:hover {
	text-decoration: none
}
a.nou:hover {
	text-decoration: none !important
}
.bootstrap-datetimepicker-widget {
	border: 2px solid #E01A22
}
.datehead {
	background: #E01A22;
	color: #fff;
}
.date-picker.rock {
	color: #4b4b4b
}
.row.bgwhite {
	background: #fff
}
.row.bgsec {
	background: #e5e5e5;
	-webkit-box-shadow: 0 5px 8px -7px black;
	-moz-box-shadow: 0 5px 8px -7px black;
	box-shadow: 0 5px 8px -7px black;
}
.mb5px {
	margin-bottom: 5px
}
.icoPhone {
	background: url(../images/sprite.png) no-repeat -104px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.navbar-toggle .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid;
	border-top: none
}
.navbar-toggle.collapsed .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid;
	border-bottom: none
}
p.telno .icoPhone {
	background: url(../images/sprite.png) no-repeat -126px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.ico {
	font-family: ColesInsuranceIcons;
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10px;
}
.icoCall:before {
	content: "\004B";
	font-size: 11px;
}
.icoPrint:before {
	content: "\0078";
}
.icoChat:before {
	content: "\004D";
}
.icoSave:before {
	content: "\0079";
}
.icoDownarrow:before {
	content: "\0049";
}
/*.tickforms:before { content: "\0051";}*/

/* Select box styling*/
select.selectbox {
	margin: 0;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	width: 100%;
	background-color: #e5e5e5;
	border-radius: 6px;
	box-shadow: none;
	font-weight: bold;
	padding: 7px 6px 6px 6px;
	border: none;
	border: 1px solid #e5e5e5;
}
.has-error select.selectbox {
	border: 2px solid #9e0114;
	border-radius: 6px 6px 0 0;
}
.has-error label.selectboxwrap:before {
	background-color: #e5e5e5;
	border-radius: 3px 3px 0 0;
	content: "";
	display: block;
	height: 32px;
	pointer-events: none;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 25px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.has-error label.selectboxwrap:before {
	height: 31px;
}
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select.selectbox {
	padding-right: 18px
}
}
label.selectboxwrap {
	position: relative;
	width: 100%;
	padding-top: 0;
	margin-bottom: 0
}
label.selectboxwrap:after {
	content: '\0049';
	color: #e5e5e5;
	background: url(../images/Icons-45.png);
	background-size: contain;
	font-family: ColesInsuranceIcons;
	font-size: 12px;
	right: 8px;
	top: 9px;
	padding: 0 0 2px;
	position: absolute;
	pointer-events: none;
}
label.selectboxwrap:before {
	content: '';
	right: 0px;
	top: 0px;
	width: 25px;
	height: 34px;
	background-color: #e5e5e5;
	position: absolute;
	pointer-events: none;
	display: block;
	border-radius: 6px;
}
/* select box styling ends*/
.brbn {
	border-radius: 0 !important;
}
.brtn {
	border-radius: 0 0 6px 6px !important;
}
.ml20px {
	margin-left: 20px
}
.rowcustom {
	margin-left: 20px;
	margin-right: -5px
}
.row.rowcustom {
	margin-left: -15px;
	margin-right: -15px;
}
.pl20px {
	padding-left: 45px !important
}
.p-sm-20 {
	padding-top: 20px;
}
.btn-group-vertical input[type="checkbox"] {
	display: none;
}
@media (max-width: 767px) {
	.modal-dialog.modal1 { width:95% !important;}
}
/* phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px), only screen and (min-width : 320px) and (max-width : 568px), only screen and (max-width: 320px) {
.p-xs-0px {
	padding-left: 15px !important;
}
.col-sm-1 .tickforms {
	margin-top: 0px;
}
.withhelp .p-sm-20 .col2small .btn.radiobutton {
	width: 90%;
}
.withhelp .p-sm-20 .col2small .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.p-sm-20 {
	padding-top: 30px;
}

}
.modal-dialog.modal1 { width:750px;}
.input-group.date {
	width: 100%
}
span.input-group-addon.btn {
	position: absolute;
	right: 2px;
	top: 2px
}
.has-error .input-group.date .input-group-addon span {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background-size: contain;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 6px
}
.dText {
	color: #333333 !important;
	font-weight: normal;
	font-size: 16px;
}
.outline {
	border: 1px solid #e5e5e5;
	margin: -9px 70px -9px 15px;
	overflow: hidden;
}
.clr {
	clear: both !important
}
.overhidden {
	overflow: hidden
}
.icoError {
	background: url(../images/sprite.png) no-repeat -324px -361px;
	width: 16px;
	height: 16px;
}
.pr0 {
	padding-right: 0 !important
}
.pr20px {
	padding-right: 20px !important
}






.btn-primary.xi:hover, .btn-primary.xi:focus { color:#fff !important}
.mt7px { margin-top:5px !important}
.ml5px { margin-left:5px !important}
.mt4px { margin-top:4px !important;}
.st { text-decoration:line-through}
.aligncenter { text-align:center}
.ptb15px { padding-bottom:15px !important; padding-top:15px !important;}


.browserUpgrade {
    display:none  ;
    background: #ffffc6;
    background-color: #ffffc6;
    left: 0;
    padding: 5px 0 7px;
    position: relative;
    font-size-12px;
    text-align: center;
    top: 0;
    z-index: 100;
    margin-bottom: 0 !important;
}
.browserUpgrade .close {
        background: url(../images/x-mark-24.png) 0 0 no-repeat;
        width: 24px;
        height: 24px;
        float: right !important;
        text-indent: -99999px;
        cursor: pointer;
    }

.browserUpgrade .dismiss-url, .browserUpgrade a {
        cursor: pointer;
        text-decoration: underline !important;
        color: #4c4c4c;
    }
    
.headerAlertImage{
	float: left;
	margin: 4px 1% 0 10%;
}
.browser-text{
	float:left;
	width:80%;
	position:relative;
}
.browser-text p{
	font:400 12px/16px Arial;
	text-align:left;
}
 
.links{
bottom: 0px;
position: absolute;
right: 10%;
}
.buWidth{
max-width:960px; 
margin:0 auto;
}
.browser-text p{
 text-align:Left;
 margin: 0 0 3px
}
.browser-text{
	font:400 12px/16px Arial !important;
}